common:bzlmod --experimental_enable_bzlmod

# Development.
#build:linux_dev_platform --cxxopt='-std=c++17'
build:linux_dev_platform --copt=-march=native

# Testing.
build:standard_test_platform --config=bzlmod
build:standard_test_platform --disk_cache=~/.cache/bazel
# Ubuntu compiles with native.
build:linux_test_platform --cxxopt='-std=c++17'
build:linux_test_platform --copt=-march=native
build:linux_test_platform --config=standard_test_platform
build:ubuntu-latest_test_platform --config=linux_test_platform
# OSX uses the same Bazel flags for automated tests.
build:macos-latest_test_platform --config=linux_test_platform
# Windows complains about some compile flags. Treat it differently.
build:windows-latest_test_platform --config=standard_test_platform


# Define the --config=asan-libfuzzer configuration.
build:asan-libfuzzer --//test:enable_full_fuzzing
build:asan-libfuzzer --action_env=CC=clang --action_env=CXX=clang++
build:asan-libfuzzer --nocache_test_results

# Benchmark.
build:benchmark --//test:enable_full_benchmarking
build:benchmark --compilation_mode=opt
build:benchmark --copt=-O3
#build:benchmark --copt=-march=native
build:benchmark --nocache_test_results
build:benchmark --test_output=all
build:benchmark --jobs=1

# STrace.
build:strace --run_under='strace -f'
build:strace --nocache_test_results
build:strace --test_output=all
build:strace -c dbg

# Valgrind.
build:valgrind --run_under='valgrind --trace-children=yes --track-fds=yes --leak-check=full --show-leak-kinds=all --track-origins=yes'
#build:valgrind --run_under='valgrind --trace-children=yes --track-fds=yes --leak-check=full --show-leak-kinds=all --exit-on-first-error=yes --error-exitcode=23'
build:valgrind --nocache_test_results
build:valgrind --test_output=all
build:valgrind -c dbg

# Valgrind but dies on any error.
build:valgrindie --run_under='valgrind --trace-children=yes --exit-on-first-error=yes --error-exitcode=23'
build:valgrindie -c dbg
